.App {
  text-align: center;
  background-image: url("./background/metal-texture-pattern.jpg");
  background-attachment: fixed;
}

.Component {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 4rem;
}

.App-logo {
  height: 40vmin;
}

.Header :hover > div {
  transition: all 0.5s ease;
  /* opacity: 0.9; */
  margin-left: -0.1rem;
  margin-right: -0.1rem;
  color: olive;
}

.text {
  overflow: hidden;
  font-family: "Anton", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #09d3ac;
}

.card {
  border: 0;
}

.row {
  margin-right: 0%;
  margin-left: 0%;
}
